body { padding-top: 60px; }
@media screen and (max-width: 979px) {
	body { padding-top: 0px; }
}

.nav-collapse .nav>li>a {
	color: white;
}

@media (max-width: 767px) {
	.row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}
}

.frontPageHeader > h3 {
	text-align: center;
}

.frontPageHeader > p {
	text-align: center;
}

.frontPageHeader {
	padding: 9px;
	border: 1px solid #e62914;
	border-radius: 5px;
	box-shadow: 0 1px white;
}

.carousel {
	color: #eee;
}

.frontPageImage {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 5px;
}

.nav > li .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.nav > li .removeButton {
	float: right;
	margin-top: -3px;
	margin-right: -6px;
	padding: 3px;
	cursor: pointer;
}