<h2>Guides for {{category.name}}</h2>

<ul class="nav nav-stacked nav-tabs">
	{{#each guides}}
	<li><a href="/guides/{{this.id}}">{{this.name}}<i class="icon-chevron-right"></i></a></li>
	{{/each}}
</ul>