<ul class="nav nav-stacked nav-tabs">
{{#each places}}
	<li><a href="#" id="{{this.fsId}}">{{this.name}} ({{this.location.attributes.city}}, {{this.location.attributes.state}})</a></li>
{{/each}}
</ul>