<div class="home-hero">
  <h1>Insidr</h1>
  <h2>Let the locals guide you</h2>

  <ul class="nav nav-stacked nav-tabs">
  	{{#each categories}}
    <li><a href="/categories/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>
