<div class="home-hero">
  <h1>Insidr</h1>
  <h2>Let the locals guide you</h2>

  <ul class="nav nav-stacked nav-tabs">
    <li><a href="#">Coffee</a></li>
    <li><a href="#">Restaurants</a></li>
    <li><a href="#">Bars</a></li>
    <li><a href="#">Nightclubs</a></li>
    <li><a href="#">Shopping</a></li>
  </ul>
</div>
