<div class="row-fluid frontPageTitle">
	<div class="span2" id="signIn">
		<span id="signinButton">
			<span
			class="g-signin"
			data-callback="signinCallback"
			data-clientid="486755495517.apps.googleusercontent.com"
			data-cookiepolicy="single_host_origin"
			data-requestvisibleactions="http://schemas.google.com/AddActivity"
			data-scope="https://www.googleapis.com/auth/plus.login">
		</span>
	</span>
	</div>
	<div class="span8 offset2">
		<h1>Insidr</h1>
		<h2>Let the locals guide you</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<img class="frontPageImage" src="/images/SushiSmall.png" />
					<div class="carousel-caption">
						<h2>Totally</h2>
					</div>
				</div>
				<div class="item">
					<img class="frontPageImage" src="/images/Ritual.png" />
					<div class="carousel-caption">
						<h2>That was a good drum break!</h2>
					</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

{{! <div class="row-fluid">
<div class="span10 offset1"> }}
	<div class="row-fluid">
		<div class="span4 frontPageHeader hidden-phone">
			<img class="frontPageImage" src="/images/Coupa.png" />
			<h3>Share Your Places</h3>
			<p>Insidr lets you discover new favorite places based on your existing tastes.
				Like Four Barrel Coffee? Enjoy Sushi 88? Insidr will help you find others
				like you and let you discover their favorite places.</p>
			</div>
			{{! <div class="span1"></div> }}
			<div class="span4 frontPageHeader">
				<h3>Categories</h3>
				<ul class="nav nav-stacked nav-tabs">
					{{#each categories}}
					<li><a href="/categories/{{this.id}}">{{this.name}}<i class="icon-chevron-right"></i></a></li>
					{{/each}}
				</ul>
			</div>
			{{! <div class="span1"></div> }}
			<div class="span4 frontPageHeader hidden-phone">
				<img class="frontPageImage" src="/images/Guide.png" />
				<h3>Explore Guides</h3>
				<p>If you happen to be the foremost expert on cappuccinos or sushi, Insidr lets
					you share your expertise with the world. You can create guides to your
					favorite places and share them with friends, families, and other curious souls.
				</p>
			</div>
		</div>
{{! 	</div>
</div> }}

<p>Photos via <a href="https://secure.flickr.com/photos/niallkennedy/44601797/">niallkennedy</a> and <a href="https://secure.flickr.com/photos/h4ck/2981763309/">[cipher]</a></p>