<form class="form-horizontal" id="placeForm">
	<div class="control-group">
		<label class="control-label" for="inputName">Search for a Place</label>
		<div class="controls">
			<input type="text" id="inputName" name="place" placeholder="&quot;sushi&quot;, &quot;coffee&quot; or something">
			<button class="btn btn-success" id="x">Hola</button>
		</div>
	</div>
</form>

<div id="fsPlaces"></div>